RewriteEngine On

# Evita que se alteren archivos o carpetas reales si es que existen
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# 1. SI acceden a /login (sin empresa), redirige de forma relativa
RewriteRule ^login$ error_instancia.php [L,R=302]

# 2. SI entran a la raíz vacía, también redirige de forma relativa
RewriteRule ^$ error_instancia.php [L,R=302]

# 3. SI ponen la empresa antes de /login, procesa normalmente
RewriteRule ^([^/]+)/login$ index.php?company=$1 [L,QSA]