# 1. Activar el motor de reescritura de URLs
RewriteEngine On

# Permite que el encabezado Authorization se pase correctamente a PHP
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

# 2. Reglas de Reescritura
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Reenviar todas las URLs no encontradas a index.php
RewriteRule ^(.*)$ index.php [L,QSA]