# 1. Activar el motor de reescritura de URLs
RewriteEngine On

# --- NUEVAS LÍNEAS DE CONFIGURACIÓN ---
# Permite que el encabezado Authorization se pase correctamente a PHP
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
# --- FIN DE NUEVAS LÍNEAS ---


# 2. Establecer la base para las reglas de reescritura.
# Debe coincidir con la URL del subdirectorio donde está tu API.
# localhost/juls/api/
#RewriteBase /DsJumpers/api/ 
RewriteBase /api/ 

# 3. Reglas de Reescritura

# Comprobar si la solicitud no es un archivo existente
RewriteCond %{REQUEST_FILENAME} !-f
# Comprobar si la solicitud no es un directorio existente
RewriteCond %{REQUEST_FILENAME} !-d

# Reenviar todas las URLs no encontradas a index.php (el controlador único)
RewriteRule ^(.*)$ index.php [L,QSA]